h3{
    color: red;
    text-align: center;
    font-size: 20px;
}


button{
    background: linear-gradient(to right ,#fc00ff,#00dbde);
    
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
}

#area{
    width: 100%;
    display: flex;

}

#area #input1{
    width: 50%;
    margin-right: 1%;
}

#area #input2{
    width: 50%;
    margin-left: 1%;
}